repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.8 # Use the latest stable version
    hooks:
    -   id: ruff # Lints, including unused imports (F401 rule)
        args: ["--fix"] # Automatically fixes issues like unused imports
    -   id: ruff-format
